{% extends 'base.html.twig' %}
{% block title %}{{ documento.titulo }}{% endblock %}

{% block body %}
    <h1>{{ documento.titulo }}</h1>
    <p>{{ documento.__toString }}</p>
    <hr>
    <a href="/documentos" class="">Voltar</a>
{% endblock %}